#container{
    margin: 0px auto;
}
header{
    background-color: aqua;
    text-align: center;
    padding: 10px;
}
footer{
    clear: both;
    background-color: blue;
    text-align: center;
    padding: 10px;
}
main{
    background-color: greenyellow;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    height: 200px;
}
aside{
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.Aside1{
    float: left;
    background-color: fuchsia;
}
.Aside2{
    float: right;
    background-color: yellow;
}
@media screen and (max-width: 1200px){
    .Aside1{
        float: none;
        width: auto;
        height: auto;
    }
    main{
        margin: 0px;
    }
}
@media screen and (max-width: 900px){
    aside{
        width: auto;
        height: auto;
    }
    .Aside1{
        float: none;
    }
    .Aside2{
        float: none;
    }
    main{
        margin: 0px;
        height: auto;
    }
}