#container{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
header{
    width: 100%;
    background-color: aqua;
    text-align: center;
}
footer{
    width: 100%;
    background-color: blue;
    text-align: center;
}
main{
    background-color: greenyellow;
    width: 800px;
}
aside{
    text-align: center;
    min-width: 200px;
}
.Aside1{
    background-color: fuchsia;
}
.Aside2{
    background-color: yellow;
}
.Flex-Block{
    flex-grow: 1;
}