#cube{
    width: 500px;
    height: 50px;
    border: 1px solid red;
}
#loading{
    height: 50px;
    background-color: red;
    animation: ind 5s infinite linear;
}
@keyframes ind {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}