.my-flex-container{
    background-color: #44b9ed;
    color: white;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row-reverse;
}
.my-flex-block{
    font: 25px "Times New Roman";
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}
.my-flex-block:hover{
    color: #44b9ed;
    background-color: white;
}